#exit-ipo{
	background:url(../img/main.jpg) center center;
	background-size: cover;

	color:#ccc;

	& img,h3,h4,.text{
		opacity: 0;
	}

	& img{
		max-width: 100%;
		@media (max-width: 480px){
			max-width: 90%;
			margin-top: 80px;
		}
	}

	& h4{

	}

	& .text{
		@media (max-width: 480px){
			font-size: 11px;
		}
	}

	

	&.afterload:before {
		content: '';
		position: absolute;
		top: 0; left:0; right:0; bottom:0;
		background: rgba(0,0,0,.8);
		opacity: 0;

		-webkit-animation-name: opacity;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-delay: .5s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;
		// -webkit-animation-iteration-count: infinite;

		-moz-animation-name: opacity;
		-moz-animation-duration: 1.5s;
		-moz-animation-delay: .5s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards;

		-ms-animation-name: opacity;
		-ms-animation-duration: 1.5s;
		-ms-animation-delay: .5s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: forwards;

		animation-name: opacity;
		animation-duration: 1.5s;
		animation-delay: .5s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}

	&.afterload img{
		opacity: 0;
		-webkit-animation-name: opacity;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-delay: 1s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-name: opacity;
		-moz-animation-duration: 1.5s;
		-moz-animation-delay: 1s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards;

		-ms-animation-name: opacity;
		-ms-animation-duration: 1.5s;
		-ms-animation-delay: 1s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: forwards;

		animation-name: opacity;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}

	&.afterload h4{
		color:$color-blue;
		position: relative;
		width: 360px;
		display: block;
		// font-size: 2em;
		letter-spacing: 0.4em;
		margin: 20px auto 40px;
		padding:10px 0;
		-webkit-animation-name: opacity;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-delay: 1.5s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-name: opacity;
		-moz-animation-duration: 1.5s;
		-moz-animation-delay: 1.5s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards;

		-ms-animation-name: opacity;
		-ms-animation-duration: 1.5s;
		-ms-animation-delay: 1.5s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: forwards;

		animation-name: opacity;
		animation-duration: 1.5s;
		animation-delay: 1.5s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;

		@media (max-width: 480px){
			width: 80%;
			font-size: 9px;
			margin: 10px auto 30px;

		}

		& span{
			font-size: 11px;
			letter-spacing: 0em;
		}

		&:before{
			content:"";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			background: $color-blue;
			width: 0;

			-webkit-animation: entry-btn-width 1s ease 2s forwards;
			-moz-animation: entry-btn-width 1s ease 2s forwards;
			-ms-animation: entry-btn-width 1s ease 2s forwards;
			animation: entry-btn-width 1s ease 2s forwards;
		}

		&:after{
			content:"";
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			height: 1px;
			background: $color-blue;
			width: 0;

			-webkit-animation: entry-btn-width 1s ease 2s forwards;
			-moz-animation: entry-btn-width 1s ease 2s forwards;
			-ms-animation: entry-btn-width 1s ease 2s forwards;
			animation: entry-btn-width 1s ease 2s forwards;
		}
	}

	&.afterload h3{
		color:#ccc;
		font-size: 2em;
		margin: 10px 0;
		-webkit-animation-name: opacity;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-delay: 2s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-name: opacity;
		-moz-animation-duration: 1.5s;
		-moz-animation-delay: 2s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards;

		-ms-animation-name: opacity;
		-ms-animation-duration: 1.5s;
		-ms-animation-delay: 2s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: forwards;

		animation-name: opacity;
		animation-duration: 1.5s;
		animation-delay: 2s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;


		@media (max-width: 480px){
			font-size: 18px;
		}
	}

	&.afterload .text{
		opacity: 0;
		-webkit-animation-name: opacity;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-delay: 3s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;

		-moz-animation-name: opacity;
		-moz-animation-duration: 1.5s;
		-moz-animation-delay: 3s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards;

		-ms-animation-name: opacity;
		-ms-animation-duration: 1.5s;
		-ms-animation-delay: 3s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: forwards;

		animation-name: opacity;
		animation-duration: 1.5s;
		animation-delay: 3s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;

	}

	// &.active:before{
	// 	content: '';
	// 	position: absolute;
	// 	top: 0; left:0; right:0; bottom:0;
	// 	background: rgba(0,0,0,.8);
	// 	@include transition(.7s, cubic-bezier(0.190, 1.000, 0.220, 1.000));
	// }


	
}