@charset "UTF-8";
@font-face {
	font-family: "icons";
	src:
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('ttf'),
		url('../fonts/icons.eot');
	font-weight: normal;
	font-style: normal;
}




[class^="icon-"]:before, [class*=" icon-"]:before, .icon:before{
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin: 0;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	vertical-align: -.3em;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-s:before{
	font-size: 12px;
	vertical-align: -.1em;
	margin-right: 0 .4em;
}
.icon-m:before{
	font-size: 18px;
	vertical-align: -.2em;
	margin-right: 0 .4em;
}
.icon-l:before{
	font-size: 48px;
}
.icon-ll:before{
	font-size: 96px;
}

.icon-admin-fill:before { content: "\EA01" }
.icon-admin:before { content: "\EA02" }
.icon-align-center:before { content: "\EA03" }
.icon-align-left:before { content: "\EA04" }
.icon-align-right:before { content: "\EA05" }
.icon-arrow-back:before { content: "\EA06" }
.icon-arrow-forward:before { content: "\EA07" }
.icon-arrow-horizontal:before { content: "\EA08" }
.icon-arrow-left:before { content: "\EA09" }
.icon-arrow-min-bottom:before { content: "\EA0A" }
.icon-arrow-min-left:before { content: "\EA0B" }
.icon-arrow-min-right:before { content: "\EA0C" }
.icon-arrow-min-top:before { content: "\EA0D" }
.icon-arrow-right:before { content: "\EA0E" }
.icon-arrow-sort-fill:before { content: "\EA0F" }
.icon-arrow-sort:before { content: "\EA10" }
.icon-arrow-vertical:before { content: "\EA11" }
.icon-bag-fill:before { content: "\EA12" }
.icon-bag:before { content: "\EA13" }
.icon-bell-fill:before { content: "\EA14" }
.icon-bell:before { content: "\EA15" }
.icon-birthday-fill:before { content: "\EA16" }
.icon-birthday:before { content: "\EA17" }
.icon-book-fill:before { content: "\EA18" }
.icon-book-open:before { content: "\EA19" }
.icon-book:before { content: "\EA1A" }
.icon-bord-close-fill:before { content: "\EA1B" }
.icon-bord-close:before { content: "\EA1C" }
.icon-bord-open-fill:before { content: "\EA1D" }
.icon-bord-open:before { content: "\EA1E" }
.icon-bord-sale-fill:before { content: "\EA1F" }
.icon-bord-sale:before { content: "\EA20" }
.icon-bord-sold-fill:before { content: "\EA21" }
.icon-bord-sold:before { content: "\EA22" }
.icon-browser-fill:before { content: "\EA23" }
.icon-browser-open:before { content: "\EA24" }
.icon-browser:before { content: "\EA25" }
.icon-brush-fill:before { content: "\EA26" }
.icon-brush:before { content: "\EA27" }
.icon-building-fill:before { content: "\EA28" }
.icon-building:before { content: "\EA29" }
.icon-calc-fill:before { content: "\EA2A" }
.icon-calc:before { content: "\EA2B" }
.icon-calendar-fill:before { content: "\EA2C" }
.icon-calendar-time:before { content: "\EA2D" }
.icon-calendar:before { content: "\EA2E" }
.icon-camera-fill:before { content: "\EA2F" }
.icon-camera:before { content: "\EA30" }
.icon-car-fill:before { content: "\EA31" }
.icon-car-sedan:before { content: "\EA32" }
.icon-car-sports:before { content: "\EA33" }
.icon-car-suv:before { content: "\EA34" }
.icon-car-taxy:before { content: "\EA35" }
.icon-car:before { content: "\EA36" }
.icon-cart-add:before { content: "\EA37" }
.icon-cart-fill:before { content: "\EA38" }
.icon-cart-min:before { content: "\EA39" }
.icon-cart:before { content: "\EA3A" }
.icon-certificate-fill:before { content: "\EA3B" }
.icon-certificate:before { content: "\EA3C" }
.icon-check:before { content: "\EA3D" }
.icon-circle-check-fill:before { content: "\EA3E" }
.icon-circle-check:before { content: "\EA3F" }
.icon-circle-close-fill:before { content: "\EA40" }
.icon-circle-close:before { content: "\EA41" }
.icon-circle-minus-fill:before { content: "\EA42" }
.icon-circle-minus:before { content: "\EA43" }
.icon-circle-plus-fill:before { content: "\EA44" }
.icon-circle-plus:before { content: "\EA45" }
.icon-circle-point-fill:before { content: "\EA46" }
.icon-circle-point:before { content: "\EA47" }
.icon-circle-resize-fill:before { content: "\EA48" }
.icon-circle-resize:before { content: "\EA49" }
.icon-circle-smile-fill:before { content: "\EA4A" }
.icon-circle-smile:before { content: "\EA4B" }
.icon-circle-stop:before { content: "\EA4C" }
.icon-circle-time-bold:before { content: "\EA4D" }
.icon-circle-time-fill:before { content: "\EA4E" }
.icon-circle-time:before { content: "\EA4F" }
.icon-circle-timer-fill:before { content: "\EA50" }
.icon-circle-timer:before { content: "\EA51" }
.icon-circle-user-fill:before { content: "\EA52" }
.icon-circle-user:before { content: "\EA53" }
.icon-clip:before { content: "\EA54" }
.icon-clipboard-check-fill:before { content: "\EA55" }
.icon-clipboard-check:before { content: "\EA56" }
.icon-clipboard-fill:before { content: "\EA57" }
.icon-clipboard:before { content: "\EA58" }
.icon-close:before { content: "\EA59" }
.icon-clothes-fill:before { content: "\EA5A" }
.icon-clothes:before { content: "\EA5B" }
.icon-cloud-download:before { content: "\EA5C" }
.icon-cloud-fill:before { content: "\EA5D" }
.icon-cloud-upload:before { content: "\EA5E" }
.icon-cloud:before { content: "\EA5F" }
.icon-code:before { content: "\EA60" }
.icon-coffee-fill:before { content: "\EA61" }
.icon-coffee:before { content: "\EA62" }
.icon-cog-fill:before { content: "\EA63" }
.icon-cog:before { content: "\EA64" }
.icon-color:before { content: "\EA65" }
.icon-comment-fill:before { content: "\EA66" }
.icon-comment:before { content: "\EA67" }
.icon-comments-fill:before { content: "\EA68" }
.icon-comments:before { content: "\EA69" }
.icon-compass-fill:before { content: "\EA6A" }
.icon-compass:before { content: "\EA6B" }
.icon-cosmetics-fill:before { content: "\EA6C" }
.icon-cosmetics:before { content: "\EA6D" }
.icon-credit-fill:before { content: "\EA6E" }
.icon-credit:before { content: "\EA6F" }
.icon-crop:before { content: "\EA70" }
.icon-crop2:before { content: "\EA71" }
.icon-crown-fill:before { content: "\EA72" }
.icon-crown-rounded:before { content: "\EA73" }
.icon-crown:before { content: "\EA74" }
.icon-cutlery-fill:before { content: "\EA75" }
.icon-cutlery-spoon-fill:before { content: "\EA76" }
.icon-cutlery-spoon:before { content: "\EA77" }
.icon-cutlery:before { content: "\EA78" }
.icon-dashboard-fill:before { content: "\EA79" }
.icon-dashboard:before { content: "\EA7A" }
.icon-description-fill:before { content: "\EA7B" }
.icon-description:before { content: "\EA7C" }
.icon-desktop-fill:before { content: "\EA7D" }
.icon-desktop:before { content: "\EA7E" }
.icon-device:before { content: "\EA7F" }
.icon-diamond-fill:before { content: "\EA80" }
.icon-diamond:before { content: "\EA81" }
.icon-dress-fill:before { content: "\EA82" }
.icon-dress:before { content: "\EA83" }
.icon-droplet-fill:before { content: "\EA84" }
.icon-droplet:before { content: "\EA85" }
.icon-edit-fill:before { content: "\EA86" }
.icon-edit:before { content: "\EA87" }
.icon-eye-fill:before { content: "\EA88" }
.icon-eye:before { content: "\EA89" }
.icon-file-add:before { content: "\EA8A" }
.icon-file-copy:before { content: "\EA8B" }
.icon-file-csv:before { content: "\EA8C" }
.icon-file-download:before { content: "\EA8D" }
.icon-file-fill:before { content: "\EA8E" }
.icon-file-upload:before { content: "\EA8F" }
.icon-file:before { content: "\EA90" }
.icon-files-fill:before { content: "\EA91" }
.icon-files:before { content: "\EA92" }
.icon-fire-fill:before { content: "\EA93" }
.icon-fire:before { content: "\EA94" }
.icon-flow-tree-fill:before { content: "\EA95" }
.icon-flow-tree:before { content: "\EA96" }
.icon-food-fill:before { content: "\EA97" }
.icon-food:before { content: "\EA98" }
.icon-game-fill:before { content: "\EA99" }
.icon-game:before { content: "\EA9A" }
.icon-glass-beer-fill:before { content: "\EA9B" }
.icon-glass-beer:before { content: "\EA9C" }
.icon-glass-cocktail-fill:before { content: "\EA9D" }
.icon-glass-cocktail:before { content: "\EA9E" }
.icon-glass-wine-fill:before { content: "\EA9F" }
.icon-glass-wine:before { content: "\EAA0" }
.icon-graph-circle-fill:before { content: "\EAA1" }
.icon-graph-circle:before { content: "\EAA2" }
.icon-graph-fill:before { content: "\EAA3" }
.icon-graph-line:before { content: "\EAA4" }
.icon-graph:before { content: "\EAA5" }
.icon-hand-click:before { content: "\EAA6" }
.icon-hand-pointer:before { content: "\EAA7" }
.icon-hand-scroll:before { content: "\EAA8" }
.icon-hand-swipe:before { content: "\EAA9" }
.icon-hand-tap:before { content: "\EAAA" }
.icon-hanger:before { content: "\EAAB" }
.icon-headphone:before { content: "\EAAC" }
.icon-headset:before { content: "\EAAD" }
.icon-heart-break-fill:before { content: "\EAAE" }
.icon-heart-break:before { content: "\EAAF" }
.icon-heart-fill:before { content: "\EAB0" }
.icon-heart-life-fill:before { content: "\EAB1" }
.icon-heart-life:before { content: "\EAB2" }
.icon-heart:before { content: "\EAB3" }
.icon-help-fill:before { content: "\EAB4" }
.icon-help:before { content: "\EAB5" }
.icon-history:before { content: "\EAB6" }
.icon-home-fill:before { content: "\EAB7" }
.icon-home:before { content: "\EAB8" }
.icon-info-fill:before { content: "\EAB9" }
.icon-info:before { content: "\EABA" }
.icon-ink-fill:before { content: "\EABB" }
.icon-ink:before { content: "\EABC" }
.icon-jacket-fill:before { content: "\EABD" }
.icon-jacket:before { content: "\EABE" }
.icon-key-fill:before { content: "\EABF" }
.icon-key:before { content: "\EAC0" }
.icon-labo-fill:before { content: "\EAC1" }
.icon-labo:before { content: "\EAC2" }
.icon-laptop-fill:before { content: "\EAC3" }
.icon-laptop:before { content: "\EAC4" }
.icon-layer-fill:before { content: "\EAC5" }
.icon-layer:before { content: "\EAC6" }
.icon-light:before { content: "\EAC7" }
.icon-link:before { content: "\EAC8" }
.icon-list-check:before { content: "\EAC9" }
.icon-list-edit:before { content: "\EACA" }
.icon-list:before { content: "\EACB" }
.icon-lock-fill:before { content: "\EACC" }
.icon-lock-unlock-fill:before { content: "\EACD" }
.icon-lock-unlock:before { content: "\EACE" }
.icon-lock:before { content: "\EACF" }
.icon-login:before { content: "\EAD0" }
.icon-logo-amex:before { content: "\EAD1" }
.icon-logo-behance:before { content: "\EAD2" }
.icon-logo-dribbble:before { content: "\EAD3" }
.icon-logo-facebook-circle:before { content: "\EAD4" }
.icon-logo-facebook:before { content: "\EAD5" }
.icon-logo-gc:before { content: "\EAD6" }
.icon-logo-gplus-circle:before { content: "\EAD7" }
.icon-logo-gplus:before { content: "\EAD8" }
.icon-logo-instagram-circle:before { content: "\EAD9" }
.icon-logo-instagram:before { content: "\EADA" }
.icon-logo-line:before { content: "\EADB" }
.icon-logo-linkedin:before { content: "\EADC" }
.icon-logo-mastercard:before { content: "\EADD" }
.icon-logo-mm:before { content: "\EADE" }
.icon-logo-pinterest:before { content: "\EADF" }
.icon-logo-twitter-circle:before { content: "\EAE0" }
.icon-logo-twitter:before { content: "\EAE1" }
.icon-logo-vimeo:before { content: "\EAE2" }
.icon-logo-visa:before { content: "\EAE3" }
.icon-logo-yahoo:before { content: "\EAE4" }
.icon-logo-youtube:before { content: "\EAE5" }
.icon-logout:before { content: "\EAE6" }
.icon-loop:before { content: "\EAE7" }
.icon-magic-fill:before { content: "\EAE8" }
.icon-magic:before { content: "\EAE9" }
.icon-mail-add:before { content: "\EAEA" }
.icon-mail-fill:before { content: "\EAEB" }
.icon-mail-open:before { content: "\EAEC" }
.icon-mail:before { content: "\EAED" }
.icon-mails:before { content: "\EAEE" }
.icon-map-fill:before { content: "\EAEF" }
.icon-map:before { content: "\EAF0" }
.icon-medal-fill:before { content: "\EAF1" }
.icon-medal:before { content: "\EAF2" }
.icon-mic-fill:before { content: "\EAF3" }
.icon-mic:before { content: "\EAF4" }
.icon-money-fill:before { content: "\EAF5" }
.icon-money:before { content: "\EAF6" }
.icon-money2:before { content: "\EAF7" }
.icon-music-fill:before { content: "\EAF8" }
.icon-music:before { content: "\EAF9" }
.icon-nail-beauty-fill:before { content: "\EAFA" }
.icon-nail-beauty:before { content: "\EAFB" }
.icon-nail-fill:before { content: "\EAFC" }
.icon-nail:before { content: "\EAFD" }
.icon-news-fill:before { content: "\EAFE" }
.icon-news:before { content: "\EAFF" }
.icon-off:before { content: "\EB00" }
.icon-open-new:before { content: "\EB01" }
.icon-packing-fill:before { content: "\EB02" }
.icon-packing-open-fill:before { content: "\EB03" }
.icon-packing-open:before { content: "\EB04" }
.icon-packing:before { content: "\EB05" }
.icon-pen-bold:before { content: "\EB06" }
.icon-pen-fill:before { content: "\EB07" }
.icon-pen:before { content: "\EB08" }
.icon-people-couple:before { content: "\EB09" }
.icon-people-enclosure-fill:before { content: "\EB0A" }
.icon-people-enclosure:before { content: "\EB0B" }
.icon-people-family:before { content: "\EB0C" }
.icon-people-fill:before { content: "\EB0D" }
.icon-people:before { content: "\EB0E" }
.icon-phone-fill:before { content: "\EB0F" }
.icon-phone:before { content: "\EB10" }
.icon-photo-add:before { content: "\EB11" }
.icon-photo-fill:before { content: "\EB12" }
.icon-photo:before { content: "\EB13" }
.icon-photos-fill:before { content: "\EB14" }
.icon-photos:before { content: "\EB15" }
.icon-pin-fill:before { content: "\EB16" }
.icon-pin:before { content: "\EB17" }
.icon-plane-fill:before { content: "\EB18" }
.icon-plane:before { content: "\EB19" }
.icon-plus:before { content: "\EB1A" }
.icon-present-fill:before { content: "\EB1B" }
.icon-present:before { content: "\EB1C" }
.icon-print-fill:before { content: "\EB1D" }
.icon-print:before { content: "\EB1E" }
.icon-pumps-fill:before { content: "\EB1F" }
.icon-pumps:before { content: "\EB20" }
.icon-resize:before { content: "\EB21" }
.icon-ribbon-fill:before { content: "\EB22" }
.icon-ribbon:before { content: "\EB23" }
.icon-rocket-fill:before { content: "\EB24" }
.icon-rocket:before { content: "\EB25" }
.icon-sale-fill:before { content: "\EB26" }
.icon-sale:before { content: "\EB27" }
.icon-save:before { content: "\EB28" }
.icon-school:before { content: "\EB29" }
.icon-scissors:before { content: "\EB2A" }
.icon-search-fill:before { content: "\EB2B" }
.icon-search-min:before { content: "\EB2C" }
.icon-search:before { content: "\EB2D" }
.icon-security-fill:before { content: "\EB2E" }
.icon-security:before { content: "\EB2F" }
.icon-send-fill:before { content: "\EB30" }
.icon-send:before { content: "\EB31" }
.icon-share:before { content: "\EB32" }
.icon-shirt-fill:before { content: "\EB33" }
.icon-shirt:before { content: "\EB34" }
.icon-shop-fill:before { content: "\EB35" }
.icon-shop:before { content: "\EB36" }
.icon-sliders-fill:before { content: "\EB37" }
.icon-sliders:before { content: "\EB38" }
.icon-smartphone-fill:before { content: "\EB39" }
.icon-smartphone:before { content: "\EB3A" }
.icon-snow-fill:before { content: "\EB3B" }
.icon-snow:before { content: "\EB3C" }
.icon-sofa:before { content: "\EB3D" }
.icon-sound-fill:before { content: "\EB3E" }
.icon-sound:before { content: "\EB3F" }
.icon-sox-fill:before { content: "\EB40" }
.icon-sox:before { content: "\EB41" }
.icon-star-fill:before { content: "\EB42" }
.icon-star-rounded-fill:before { content: "\EB43" }
.icon-star-rounded:before { content: "\EB44" }
.icon-star:before { content: "\EB45" }
.icon-stars-fill:before { content: "\EB46" }
.icon-stars:before { content: "\EB47" }
.icon-sunny-fill:before { content: "\EB48" }
.icon-sunny:before { content: "\EB49" }
.icon-sushi:before { content: "\EB4A" }
.icon-tag-fill:before { content: "\EB4B" }
.icon-tag:before { content: "\EB4C" }
.icon-tags-fill:before { content: "\EB4D" }
.icon-tags:before { content: "\EB4E" }
.icon-text:before { content: "\EB4F" }
.icon-thermometer-fill:before { content: "\EB50" }
.icon-thermometer:before { content: "\EB51" }
.icon-ticket:before { content: "\EB52" }
.icon-toggle-off:before { content: "\EB53" }
.icon-toggle-on:before { content: "\EB54" }
.icon-trash-fill:before { content: "\EB55" }
.icon-trash:before { content: "\EB56" }
.icon-tree:before { content: "\EB57" }
.icon-truck-fill:before { content: "\EB58" }
.icon-truck:before { content: "\EB59" }
.icon-tshirt-fill:before { content: "\EB5A" }
.icon-tshirt:before { content: "\EB5B" }
.icon-tube-fill:before { content: "\EB5C" }
.icon-tube:before { content: "\EB5D" }
.icon-umbrella-fill:before { content: "\EB5E" }
.icon-umbrella:before { content: "\EB5F" }
.icon-unlink:before { content: "\EB60" }
.icon-user-fill:before { content: "\EB61" }
.icon-user-min:before { content: "\EB62" }
.icon-user-profile-fill:before { content: "\EB63" }
.icon-user-profile:before { content: "\EB64" }
.icon-user:before { content: "\EB65" }
.icon-view-column-1-fill:before { content: "\EB66" }
.icon-view-column-1:before { content: "\EB67" }
.icon-view-column-5:before { content: "\EB68" }
.icon-view-column-fill:before { content: "\EB69" }
.icon-view-column:before { content: "\EB6A" }
.icon-view-grid-fill:before { content: "\EB6B" }
.icon-view-grid:before { content: "\EB6C" }
.icon-view-list-fill:before { content: "\EB6D" }
.icon-view-list:before { content: "\EB6E" }
.icon-view-masonry-fill:before { content: "\EB6F" }
.icon-view-masonry:before { content: "\EB70" }
.icon-view-module-fill:before { content: "\EB71" }
.icon-view-module:before { content: "\EB72" }
.icon-view-quilt-fill:before { content: "\EB73" }
.icon-view-quilt:before { content: "\EB74" }
.icon-warning-fill:before { content: "\EB75" }
.icon-warning:before { content: "\EB76" }
.icon-washer-fill:before { content: "\EB77" }
.icon-washer:before { content: "\EB78" }
.icon-watch-fill:before { content: "\EB79" }
.icon-watch:before { content: "\EB7A" }
.icon-woman-beauty-fill:before { content: "\EB7B" }
.icon-woman-beauty:before { content: "\EB7C" }
.icon-woman-fill:before { content: "\EB7D" }
.icon-woman:before { content: "\EB7E" }
.icon-yubin:before { content: "\EB7F" }
