$loader-size: 96px;

#loader {
  top: 50%;
  left: 50%;
  position: fixed;
  opacity: 0;

  // display: none;
  width: $loader-size;
  height: $loader-size;
  margin-top: - $loader-size / 2;
  margin-left: - $loader-size / 2;
  overflow: hidden;

  // transition: all .4s $ease;
  animation: loading-fade-out 0.2s $ease forwards;
  // animation-delay: 5s;
  &.active {
    height: $loader-size;
    opacity: 1;
    animation: loading-show 0.2s $ease;
    // animation-delay: 0;
  }
  & .loader {
    border-top: 2px solid rgba($color, 0.1);
    border-right: 2px solid rgba($color, 0.4);
    border-bottom: 2px solid rgba($color, 0.7);
    border-left: 2px solid $color;
    animation: rotation 0.6s infinite linear;
  }
  & .loader,
  & .loader:after {
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
  }
}
